body
{
    /* Couleur de fond */
    background-color: black;
}

.lancement
{
    /* Position du div lancement */
    position: absolute;
    top: 260px;
    left: 760px;
    
    /* Largeur du div lancement */
    width: 300px;

    /* Disposition des éléments dans le div lancement */
    display: flex;
    flex-direction: column;
}

.end
{
    /* Position du div end */
    position: absolute;
    top: 150px;
    left: 760px;
    
    /* Largeur du div end */
    width: 300px;

    /* Disposition des éléments dans le div end */
    display: flex;
    flex-direction: column;
}

.congrats
{
    /* Aspect du congrats */
    color: rgb(65, 187, 87);
    font-size: 30px;
    font-family: monospace;
    font-style: normal; 

    /* Disposition du congrats */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

#pong
{
    /* Largeur du logo pong */
    width: 300px;    

    /* Interligne entre le logo et le bouton */
    padding-bottom: 60px;

    /* Centrage du logo pong */
    margin-left: auto;
    margin-right: auto;
}

#trophee
{
    /* Largeur du logo trophee */
    width: 300px;    

    /* Interligne entre le logo et les boutons */
    padding-bottom: 40px;

    /* Centrage du logo trophee */
    margin-left: auto;
    margin-right: auto;
}


.start, .quit, .restart
{
    /* Taille des boutons */
    height: 50px;
    width:150px;

    /* Centrage des boutons */
    margin-left: auto;
    margin-right: auto;
    
    /* Aspect des boutons */
    background: rgb(50, 50, 50);
    color: white;
    font-size: 20px;
    font-family: monospace;
    font-style: normal;
}

.quit
{
    margin-top: 15px;
}



.score
{ 
    /* Position du score */
    position: absolute;
    top: 300px;
    left: 530px;
 
    /* Aspect du score */
    color: rgb(50, 50, 50);
    font-size: 300px;
    font-family: monospace;
    font-style: normal;  
}

.enteteL, .enteteR, .enteteC
{ 
    /* Aspect des entetes */
    color: rgb(134, 134, 134);
    font-size: 20px;
    font-family: monospace;
    font-style: normal;  
}

.enteteL
{ 
    /* Position du score */
    position: absolute;
    top: 10px;
    left: 40px;
}

.enteteR
{ 
    /* Position du score */
    position: absolute;
    top: 10px;
    left: 1320px;
}

.enteteC
{
    /* Position du score */
    position: absolute;
    top: 165px;
    left: 760px;
}

#containerBalle, #containerRacket1, #containerRacket2
{
    /* Position des containers ball et rackets */
    position: absolute;
}

.balle, .racket1, .racket2
{
    /* Position des ball et rackets */
    position: absolute;
}
